#pragma once

using DTypeQ  = {{ dtype_q }};
using DTypeKV = {{ dtype_kv }};
using DTypeO  = {{ dtype_o }};

constexpr int HEAD_DIM_QK = {{ head_dim_qk }};
constexpr int HEAD_DIM_VO = {{ head_dim_vo }};
